[Unit]
Description=PiDiskLeds mass storage activity indication

[Service]
Type=forking
ExecStart=/usr/local/bin/PiDiskLeds -d

[Install]
WantedBy=basic.target
